<mat-card class="card_style">
    <mat-card-header>
      <img mat-card-avatar class="example-header-image" [src]="good.thumbnailUrl">
      <mat-card-title>{{good.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="example-full-width">
        <input #amountOfGood matInput placeholder="Количество товара" type="number" value="1">
      </mat-form-field>
      <button mat-button (click)="addGood(amountOfGood.value)">Добавить</button>
      <button mat-button (click)="descriptionIsShow = !descriptionIsShow">Подробнее</button>
      <img *ngIf="descriptionIsShow" mat-card-image [src]="good.url">
  
    </mat-card-content>
  </mat-card>